Repository scalablecory/runtime-priv, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/ncl, @scalablecory, @dotnet/http2, @dotnet/http3

test
  src/libraries/System.Net.Quic/Directory.Build.props
Owners: @dotnet/ncl, @dotnet/http3

WIP
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.ServiceAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Owners: @dotnet/ncl, @scalablecory

WIP
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.ServiceAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Owners: @dotnet/ncl, @scalablecory

WIP
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpResponseHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.CachedConnection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.ServiceAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Owners: @dotnet/ncl, @scalablecory

WIP
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.ServiceAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AltSvc.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
Owners: @dotnet/ncl, @scalablecory

Add Alt-Svc support.
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/HPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/IntegerEncoder.cs
  src/libraries/Common/tests/System/Net/Http/GenericLoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/Http2LoopbackServer.cs
  src/libraries/Common/tests/System/Net/Http/LoopbackServer.cs
  src/libraries/System.Net.Http/ref/System.Net.Http.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/AltSvcHeaderValue.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/BaseHeaderParser.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpResponseHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpAuthority.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.AltSvc.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs
  src/libraries/System.Net.Http/tests/FunctionalTests/System.Net.Http.Functional.Tests.csproj
  src/libraries/System.Net.Http/tests/UnitTests/Headers/AltSvcHeaderParserTest.cs
  src/libraries/System.Net.Http/tests/UnitTests/System.Net.Http.Unit.Tests.csproj
Owners: @dotnet/ncl, @dotnet/http2, @scalablecory

H3 WIP.
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
  src/libraries/System.Net.Primitives/ref/System.Net.Primitives.cs
  src/libraries/System.Net.Primitives/src/System/Net/HttpVersion.cs
  src/libraries/System.Net.Security/ref/System.Net.Security.cs
  src/libraries/System.Net.Security/src/System/Net/Security/SslApplicationProtocol.cs
Owners: @dotnet/ncl, @scalablecory

Add initial ASP.NET H3 code, for a clean diff.
  src/libraries/Common/src/System/Net/Http/Http3/CopyToAspNetCore.cmd
  src/libraries/Common/src/System/Net/Http/Http3/CopyToAspNetCore.sh
  src/libraries/Common/src/System/Net/Http/Http3/CopyToRuntime.cmd
  src/libraries/Common/src/System/Net/Http/Http3/CopyToRuntime.sh
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3ErrorCode.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Data.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.GoAway.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Headers.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Settings.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3FrameType.cs
  src/libraries/Common/src/System/Net/Http/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3FrameReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3FrameWriter.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/DecoderStreamReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/DynamicTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/EncoderStreamReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/HeaderField.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecodingException.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncodingException.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/StaticTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/ReadMe.SharedCode.md
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
Owners: @dotnet/ncl, @scalablecory

WIP H3
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3FrameType.cs
  src/libraries/Common/src/System/Net/Http/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3FrameReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3SettingType.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3StreamType.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
Owners: @dotnet/ncl, @scalablecory

H3 WIP
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/StaticTable.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
Owners: @dotnet/ncl, @scalablecory

H3 WIP
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/H2StaticTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.cs
  src/libraries/Common/src/System/Net/Http/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/H3StaticTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncoder.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Owners: @dotnet/ncl, @dotnet/http2, @scalablecory

H3 WIP
  src/libraries/Common/src/System/Net/Http/Http2/IHttpHeadersHandler.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/H3StaticTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/HeaderField.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecodingException.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ArrayBuffer.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Stream.cs
Owners: @dotnet/ncl, @dotnet/http2, @scalablecory

H3 WIP
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3ErrorCode.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Data.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.GoAway.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Headers.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.Settings.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3Frame.cs
  src/libraries/Common/src/System/Net/Http/Http3/Frames/Http3FrameType.cs
  src/libraries/Common/src/System/Net/Http/Http3/Helpers/VariableLengthIntegerHelper.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3SettingType.cs
  src/libraries/Common/src/System/Net/Http/Http3/Http3StreamType.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/DecoderStreamReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/DynamicTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/EncoderStreamReader.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/H3StaticTable.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/HeaderField.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackDecodingException.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/QPackEncodingException.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Connection.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionBase.cs
Owners: @dotnet/ncl, @scalablecory

H3 WIP.
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/HPackDecoder.cs
  src/libraries/Common/src/System/Net/Http/Http2/Hpack/HPackEncoder.cs
  src/libraries/Common/src/System/Net/Http/Http3/QPack/DynamicTable.cs
  src/libraries/System.Net.Http/src/System.Net.Http.csproj
  src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3Stream.cs
  src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs
Owners: @dotnet/ncl, @dotnet/http2, @scalablecory

CODEOWNERS:

# NCL libraries - primary
/src/libraries/System.Net*/ @dotnet/ncl @scalablecory
/src/libraries/Common/src/System/Net/ @dotnet/ncl

# NCL libraries - secondary (last match is used, so these must come after the primary)
/src/libraries/Common/src/System/Net/Http/Http2/ @dotnet/ncl @dotnet/http2
/src/libraries/System.Net.Quic/ @dotnet/ncl @dotnet/http3
